{{> nav}}

{{> header}}

<div id="edit-container">
  <form id="edit-form" action="/gallery/{{mainPhoto.id}}/?_method=PUT" method="POST">

  Author:
    <input class="text-edit-form" type="text" placeholder="name" name="author" autocomplete="off" value={{mainPhoto.author}} />

  <div class="mobile-detail-box">
    <div class="photo-detail" style="background:url({{mainPhoto.link}}); background-size: cover; background-position: center;
    "></div>
  </div>

    <br>Link:
    <input class="text-edit-form" type="text" placeholder="url" name="link" autocomplete="off" value="{{mainPhoto.link}}" /><br>
    Description: <br>
    <textarea class="text-edit-form" name="description" id="" cols="47" rows="10" autocomplete="off" />{{mainPhoto.description}}</textarea><br>
    <input class="submit-form" type="submit" value="Edit Photo">
  </form>
</div>

<div id="photo-sidebar">
  {{#each photos}}
  <div class="small-photo-box">
    <a href="/gallery/{{id}}">
      <div class="photos" style="background:url({{link}}); background-size: cover; background-position: center;
      "></div>
    </a>
    <div class="author">
      Author: {{author}}
    </div>
  </div>
  {{/each}}
</div>

{{{messages}}}

<div id="bottom-border"></div>