<div class="top-border">
  <a href="/gallery/new">new post</a>
  {{username}}
</div>

<div id="header">
  <h1>_ARCHITEKT</h1>
</div>

<div id="header-info">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut laaliqua. Ut enim ad minim veniam,
  quis nosalsdkfd kdls</p>
</div>

<hr>

{{#each photos}}
<a href="/gallery/{{id}}">
  <div class="photos" style="background:url({{link}}); background-size: cover; background-position: center;
  "></div>
</a>
<div class="photo-info">
  Author: {{author}} <br>
  Description: {{description}} <br>
</div>
{{/each}}

<hr>

<div class="bottom-border"></div>

