{{> nav}}

{{> header}}

<a href="/gallery/{{mainPhoto.id}}">
  <div id="main-photo" style="background:url({{mainPhoto.link}}); background-size: cover; background-position: center"></div>
</a>

<hr>

{{#each photos}}
<div class="small-photo-box">
  <a href="/gallery/{{id}}">
    <div class="photos" style="background:url({{link}}); background-size: cover; background-position: center;
    "></div>
  </a>
  <div class="author">
    Author: {{author}} <br>
  </div>
</div>
{{/each}}

<hr>

<div id="bottom-border"></div>
