{{> nav}}

{{> header}}

<div class="mobile-detail-box">
  <p class="author">
    Author: {{mainPhoto.author}} <br>
  </p>
  <div class="photo-detail" style="background:url({{mainPhoto.link}}); background-size: cover; background-position: center;
    "></div>

  <div id="photo-description">
    Description: {{mainPhoto.description}}
  </div>
  <form action="/gallery/{{mainPhoto.id}}/?_method=DELETE" method="POST">
    <input class="link-button" type="submit" value="delete">
    <input type="submit" class="link-button" value="edit" formaction="/gallery/{{mainPhoto.id}}/edit/?_method=GET">
  </form>
</div>

<div id="photo-sidebar">
  {{#each photos}}
    <div class="small-photo-box">
      <a href="/gallery/{{id}}">
        <div class="photos" style="background:url({{link}}); background-size: cover; background-position: center;
        "></div>
      </a>
      <div class="author">
        Author: {{author}}
      </div>
    </div>
  {{/each}}
</div>

<div id="bottom-border"></div>
